* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, green, lime);
}

body.dark-mode {
    background: #121212;
    color: white;
  }

header {
    position: relative;
    font-size: 20px;
    width: 100%;
    height:80px;
    background-color: lime;
}

header.dark-mode {
    background-color: #121212;
    color: white;
}

#title {
    text-align: center;
}

button, select {
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.1);
}

button.dark-mode, select.dark-mode {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.top-left, .top-right, .top-center {
    position: absolute;
    top: 0;
    padding: 10px;
}

.top-left {
    left: 0;
    padding: 12px;
}

.top-center {
    left: 50%;
    transform: translateX(-50%); /* Centers it horizontally */
}

.top-right {
    right: 0;
    padding: 15px;
}

#header-img {
    width: 100px;
    height: auto;
}

.top-right input {
    width: 50px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#welcome-text {
    margin-left: 10px;
}

#user-button.dark-mode {
    filter: contrast(1%);
}

.container {
    display: flex;
    justify-content: flex-end;
}

.container button, .container select {
    font-size: 20px;
    margin-right: 10px;
}


#accounts {
    text-align: center;
}

#master-password {
    margin-top: 20px;
}

#accounts button {
    margin-left: 10px;
}

#addAccountForm {
    text-align: center;
}

li, label, input {
    font-size: 20px;
}

#addAccountButton, .show-password {
    border: none;
    font-size: 20px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

#addAccountButton.dark-mode {
    background: rgba(255, 255, 255, 0.1);
}

#info {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 1100px) {
    #title {
        font-size: 32px;
    }
    .top-center {
        width: 700px;
    }
    #welcome-text {
        margin-left: 10px;
        font-size: 22px;
    }
}

@media (max-width: 700px) {
    #title {
        font-size: 24px;
    }
}

@media (max-width: 550px) {
    #title {
        font-size: 32px;
    }
    #header-img {
        display: none;
    }

    #user-button {
        display: none;
    }
}