* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, green, lime); /* Tema reptiliano (modo claro) */
}

body.dark-mode { /* Tema oscuro */
    background: #121212;
    color: white;
  }

header {
    position: relative;
    font-size: 20px;
    width: 100%;
    height: 80px;
    background-color: lime;  /* Tema reptiliano (modo claro) */
}

header.dark-mode { /* Tema oscuro */
    background-color: #121212;
    color: white;
}

#title {
    text-align: center;
}

button, select {
    font-size: 20px;
    border: none;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.1);
}

button.dark-mode, select.dark-mode {
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.top-left, .top-right, .top-center {
    position: absolute;
    top: 0;
    padding: 10px;
}

.top-left {
    left: 0;
    padding: 12px;
}

.top-center {
    left: 50%;
    transform: translateX(-50%); /* Centers it horizontally */
}

.top-right {
    right: 0;
    padding: 15px;
}

#header-img {
    width: 100px;
    height: auto;
}

.top-right input {
    width: 50px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#welcome-text {
    margin-left: 10px;
}

#user-button.dark-mode { /* Tema oscuro */
    filter: contrast(1%); /* Aplicar contraste a la imagen (cambia a un color más claro) */
}

.container {
    display: flex;
    justify-content: flex-end;
}

.container button, .container select {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#accounts {
    text-align: center;
}

#master-password {
    margin-top: 20px;
}

#accounts button {
    margin-left: 10px;
}

#addAccountForm {
    text-align: center;
}

li, label, input {
    font-size: 20px;
}

#addAccountButton, .show-password {
    border: none;
    font-size: 20px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

#addAccountButton.dark-mode { /* Tema oscuro */
    background: rgba(255, 255, 255, 0.1);
}

#info {
    text-align: center;
    margin-bottom: 20px;
}

#password-generator-text {
    margin-top: 20px;
    text-align: center;
}

#password-generator {
    text-align: center;
}

#password-length-textbox {
    margin-top: 20px;
    margin-bottom: 10px;
}

#textbox-wrapper {
    position: relative;
    display: inline-block;
}

#generated-password {
    padding-left: 10px;
    padding-right: 40px; /* leave space for the image */
    width: 400px;
    height: 30px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#copy-icon, #regenerate-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

#regenerate-icon {
    right: 40px;
}

.checkbox-group {
    margin-left: 10px;
    margin-right: 10px;
}

#password-length-textbox {
    width: 100px;
    text-align: right;
}

#password-div h2, #password-div input {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#password-div h2 {
    margin-top: 10px;
}

#change-password-form {
    margin-top: 10px;
    text-align: center;
}

#change-password-form h1 {
    margin-bottom: 10px;
}

#change-password-button {
    margin-bottom: 20px;
}

@media (max-width: 1100px) { /* Ancho 1100 píxeles */
    /* Ajustar tamaño del título y texto de bienvenida */
    #title {
        font-size: 32px;
    }
    .top-center {
        width: 700px;
    }
    #welcome-text {
        margin-left: 10px;
        font-size: 22px;
    }
}

@media (max-width: 700px) { /* Ancho 700 píxeles */
     /* Reducir tamaño del título */
    #title {
        font-size: 24px;
    }
}

@media (max-width: 550px) { /* Ancho 550 píxeles */
    /* Aumentar tamaño del título, a cambio de ocultar la imágen del sitio y el ícono de usuario */
    #title {
        font-size: 32px;
    }
    #header-img {
        display: none;
    }

    #user-button {
        display: none;
    }
    body {
        display: inline-block;
        text-align: center;
    }
}